/* ---------------------- Header ---------------------- */
.header>.container>div{
    flex-grow: 1;
}
    .header ul{
        display: flex;
    }
    .header ul>li{
        flex-grow: 1;
        text-align: right;
    }

/* ---------------------- Body ---------------------- */
.body>.container{
    flex-direction: column;
}
    .body>.container>.contents{
        display: flex;
    }
        .contents>.first{
            width: 1000px;
        }
            .cart{
                border-top: 3px solid black;
            }
                .cart>thead>tr th{
                    height: 50px;
                    text-align: center;
                }

        .contents>.second {
            background: rgb(206, 206, 206);
            width: 500px;
        }
            .contents>.second>.order{
                border-top: 1px solid black;
            }
                .contents>.second>.order th{
                    width: 250px;
                }
                .contents>.second>.order td{
                    width: 250px;
                }
                .contents>.second>button{
                    width: 245px;
                }
/* ---------------------- Footer ---------------------- */
.footer>.container>ul{
    display: flex;
    width: 500px;
}
    .footer>.container li{
        flex-grow: 1;
    }