.buttons{
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}

.main .search-button{
	padding:5px;
	font-size: 16px;
	line-height:30px;
}


.buttons .button{
	padding: 5px;
	font-size: 16px;
	line-height:30px;
}

.reg{
	width:140px;
	text-align:center;
	margin-right:10px;
}
