@import "../../../reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.d-none {
  display: none;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
a:hover {
  text-decoration: none;
}
/*-------------------header------------------------*/
.header h1 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 30px;
}
.header nav {
  margin-top: 10px;
}
.header ul {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}
.header ul li {
  margin: 10px 20px;
}
/*-----------------------body----------------------*/
.body {
  flex-grow: 1;
}
.body .container {
  height: 100%;
  display: flex;
  justify-content: center;
}
.body > ul > li i {
  background: #f1f1f1;
}
/*-----------------------aside-----------------------*/
.aside {
  margin-top: 45px;
}
.aside ul {
  margin-top: 20px;
}
.aside li {
  margin-bottom: 15px;
}

/*-----------------------main-----------------------*/
.main {
  margin: 45px 0px 0px 35px;
}
.main h1 {
  font-weight: 600;
  font-size: 20px;
  margin: 15px 0;
}
.main section:nth-child(2) td {
	text-align:center;
}
.main section:nth-child(2) img {
	width:200px;
	height:200px;
}
.main table {
  width: 800px;
  border: 1px solid #444842;
}
.main table:nth-child(2) thead,
.main th {
  color: white;
  background: #444842;
  text-align: center;
}
.main form {
  margin-top: 10px;
}
.main section:last-child {
  margin-top: 10px;
}
.main section:last-child div,
.main section:last-child ul {
  display: flex;
  justify-content: center;
}
.main section:last-child ul li {
  padding: 0px 5px;
}
/*-------------------footer------------------------*/
.footer {
  width: 100%;
  height: 50px;
  border: 1px solid black;
}
