html,
body {
  width: 100%;
  height: 100%;
  display: flex;
}

html {
  position: relative;
  justify-content: center;
  position: relative;
  background-color: beige;
}

body {
  flex-basis: 1200px;
  flex-direction: column;
}

.container {
  height: 100%;
  display: flex;
}

/* ---------------------------------------header---------------------------------------- */
.header {
  flex-basis: 80px;
  flex-shrink: 0;
  width: 1200px;
}

/* ---------------------------------------body---------------------------------------- */
.body {
margin-top:30px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  width: 1200px;
}
.body .aside {
  flex-basis: 200px;
  flex-shrink: 0;
}
.body .main {
  flex-basis: 1000px;
  flex-shrink: 0;
  padding-top: 30px;
  padding-left: 30px;
}

/* ---------------------------------------footer---------------------------------------- */
.footer {
  flex-basis: 67px;
  flex-shrink: 0;
  width: 1200px;
}
