html,
body {
  width: 100%;
  height: 100%;
  display: flex;
}

html {
  justify-content: center;
}

body {
  flex-basis: 1000px;
  flex-direction: column;
}

.container {
  height: 100%;
  display: flex;
}

/* ---------------------------------------header---------------------------------------- */
.header {
  flex-basis: 80px;
  flex-shrink: 0;
  width: 1000px;
  background: pink;
}

/* ---------------------------------------body---------------------------------------- */
.body {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  width: 1000px;
  background: tomato;
}
.body .aside {
  flex-basis: 200px;
  flex-shrink: 0;
  background: yellow;
}
.body .main {
  flex-basis: 800px;
  flex-shrink: 0;
  padding-top: 30px;
  padding-left: 30px;
  position: relative;
  background: skyblue;
}

/* ---------------------------------------footer---------------------------------------- */
.footer {
  flex-basis: 67px;
  flex-shrink: 0;
  width: 1000px;
  background: gray;
}
