.footer{
	background: beige;
}


@keyframes s-animation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) translateX(400px) rotate(3turn);
  }
  100% {
    transform: none;
  }
}

.main{
	background-color: beige;
	
}
.main1 .container,
.main2 .container{
	background-color: beige;
}



.sel {
  position:absolute;
  width: 300px;
  height: 200px;
  top: 700px;
  left: 80px;
  opacity:0.7;
  animation: s-animation 2.5s ease-in-out infinite 1s;
}
.ppo {
  position:absolute;
  width: 200px;
  height: 200px;
  bottom: 300px;
  top: 600px;
  left: 500px;
 opacity:0.7;
  animation: s-animation 2.5s ease-in-out infinite 2s;
}
.kris {
  position:absolute;
  width: 300px;
  height: 200px;
  opacity:0.7;
  animation: s-animation 2.5s ease-in-out infinite 3s;
}
.black {
  position:absolute;
  width: 300px;
  height: 200px;
  opacity:0.7;
  left: 800px;
  top: 500px;
  animation: s-animation 2.5s ease-in-out infinite 4s;
}



.sel2 {
  position:absolute;
  width: 300px;
  height: 200px;
  top: 700px;
  left: 700px;
  opacity:0.7;
  animation: s-animation 2.5s ease-in-out infinite;
}
.ppo2 {
  position:absolute;
  width: 200px;
  height: 200px;
  top: 600px;
  left: 500px;
  opacity:0.7;
  animation: s-animation 2.5s ease-in-out infinite;
}
.kris2 {
  position:absolute;
  width: 300px;
  height: 200px;
  opacity:0.7;
  animation: s-animation 2.5s ease-in-out infinite;
  
}
.black2 {
  position:absolute;
  width: 300px;
  height: 200px;
  left: 800px;
  top: 500px;
  opacity:0.7;
  animation: s-animation 2.5s ease-in-out infinite;
}

