.header{
    height : 80px;
   
}

.header .container{
    width: 1200px;
    height:100%;
    margin : 0 auto;
    
}


.body .main{
    display: flex;
    flex-direction: column;
    
}

.body .main .container{


    width: 1200px;
    min-height: 800px;
    margin : 0 auto;
   
  
}



.footer{

    height : 67px;
    
}
.footer .container{
    width:1200px;
    height:100%;
    margin : 0 auto;
    
}




