@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

@import "reset.css";
@import "admin/layout/default.css";
@import "admin/content-layout/default.css";

/*---------------------------------components-------------------------------------*/
@import "admin/components/header.css";
/*-----------------------------------screens--------------------------------------*/

* {
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

.d-none {
  display: none;
}


