@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

@import "reset.css";
@import "layout.css";
@import "content-layout.css";
@import "variable.css";

/*---------------------------------components-------------------------------------*/
@import "components/header.css";
@import "components/main.css";
@import "components/aside.css";
@import "components/footer.css";

/*-----------------------------------screens--------------------------------------*/

@import "screens/feed-screen.css";
@import "screens/petplace-screen.css";
@import "screens/community-screen.css";
@import "screens/board-screen.css";

* {
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

.d-none {
  display: none;
}
