/* ---------------------- Header ---------------------- */
.header{
    background: #FFD475;
}
    .header>.container>div{
        flex: 1;
    }
        .header .header-menu ul{
            display: flex;
            justify-content: flex-end;
        }
            .header-menu li{
                flex-basis: 80px;
            }
/* ---------------------- Body ---------------------- */
.body{
    background: #FFD475;
}
.body>.container{
    background: url("../images/main.jpeg") no-repeat;
    background-position: center;
}
    .aside{
        width: 200px;
        /* top | right | bottom | left */
        /* padding: 20px 0px 0px 10px; */
    }
    .aside ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100px;
    }
    .main{
        width: 1300px;
    }
/* ---------------------- Footer ---------------------- */
.footer ul{
    width: 200px;
    display: flex;
    justify-content: space-between;
}