.container{
    flex-basis: 80%;
    border: 1px solid black;
}

.header{
    display: flex;
    justify-content: space-around;
    height : 70px;
    border: 1px solid black;
}

.body{
    display:flex;
    justify-content: space-around;
    border: 1px solid black;
}
    .body .container{
        display:flex;
        
    }

.aside{
    flex-basis: 20%;
    border: 1px solid black;
}

.footer{
    display: flex;
    justify-content: space-around;
    height : 70px;
    border: 1px solid black;
}