/* -----------------------------------header----------------------------------- */
.header {
  margin-top: 30px;
}

.header .container {
  justify-content: space-between;
}

.header .logo {
  flex-basis: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-left: 50px;
  --background-color: white;
}

.header .logo a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header nav {
  flex-basis: 1000px;
  display: flex;
}

.header nav ul {
  flex-basis: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header nav ul li {
  flex-basis: 100%;
  height: 100%;
}

.header nav ul a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* -----------------------------------body----------------------------------- */
.body .container {
  flex-basis: 1200px;
}

.body .aside {
  display: flex;
  justify-content: center;
}

.body .aside ul {
  display: flex;
  flex-direction: column;
}

.body .aside ul li {
  width: 200px;
  font-size: 18px;
  font-weight: 500;
  flex-basis: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .aside ul li:hover{
	color: #778899;
}

.body .main {
  display: flex;
  flex-direction: column;
}

.body .main section {
  width: 95%;
}

.body .main-section {
  flex-grow: 1;
}

.body .main section table {
  width: 100%;
}

.body .main .pager {
  display: flex;
  justify-content: center;
  width: 95%;
}

.body .main .pager div {
  margin: 3px 0;
  padding: 0 5px;
}

.body .main .pager ul {
  display: flex;
}

.body .main .pager ul li {
  margin: 3px 0;
  padding: 0 5px;
}
/* -----------------------------------footer----------------------------------- */
.footer .container {
  justify-content: center;
}
